#darkMode {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding-top: 3px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 3px;
  color: blueviolet;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  color: rgb(241, 241, 241);
}

@media (max-width: 800px) {
  #darkMode {
    font-size: 27px;
  }
}
