.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.main-container {
  border-radius: 6px;
  padding: 19px;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.233);
  flex-direction: column;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.input-container {
  text-align: center;
  display: flex;
  margin-top: 25px;
}

.title-container {
  display: flex;
  margin: 10px 0px;
}

.title {
  font-size: 27px;
  font-weight: bold;
}

.version {
  font-size: 11px;
  color: rgba(100, 100, 100, 0.623);
  margin-top: 17.5px;
  margin-left: 7px;
}

.add-new-task {
  font-size: 30px;
  padding: 0px 8px;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.add-new-task:hover,
.clearall-button:hover,
.undone-button:hover {
  background-color: rgb(108, 28, 184);
}

.task {
  background-color: rgb(241, 241, 241);
  margin: 5px 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.no-task-field-container {
  width: 100%;
  padding: 8px 0px;
  background-color: rgb(241, 241, 241);
  border-radius: 3px;
  margin: 20px 0px;
  text-align: left;
}

.no-task-field-container span {
  padding-left: 14px;
  color: rgba(136, 136, 136, 0.829);
  font-size: 14px;
}

.task-text {
  padding-top: 1px;
  padding-left: 10px;
  font-size: 15px;
}

.tasks-container {
  margin-top: 18px;
  display: grid;
}

.checkbox-and-text {
  display: flex;
  justify-content: space-between;
}

.clearall-button {
  padding: 6px 12px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

.undone-clear-container {
  display: flex;
}

.undone-button {
  border: none;
  background-color: blueviolet;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 19px;
  border-radius: 3px;
  margin-right: 9px;
  color: #fff;
  padding-top: 3px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.active-tasks {
  font-size: 15px;
  margin-top: 3px;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.767);
}

.clear-task-container {
  padding-top: 5px;
}

.clear-task {
  font-size: 16px;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  padding-top: 3px;
}

.unique-task-container {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.description-toggle {
  font-size: 25px;
  color: rgb(153, 153, 153);
  cursor: pointer;
  border: none;
  height: 0px;
}

.text-area {
  width: 450px;
}

.description-container {
  width: 100%;
  display: flex;
  border: none;
  background-color: rgb(241, 241, 241);
  margin-bottom: 14px;
  border-radius: 3px;
  margin-top: -1px;
}

#description-container-toggle {
  height: 0px;
  overflow: hidden;
  transition: 300ms;
}

#description-container-toggle.active {
  height: 100px;
}

.save-description {
  font-size: 21px;
  width: 40px;
  height: 100%;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  padding-top: 3px;
  text-align: center;
}

textarea {
  width: 100%;
  font-size: 14.5px;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  height: 70px;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  border-radius: 3px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.767);
  margin-bottom: 130px;
  position: absolute;
  left: 0;
  right: 0;
}

label:hover {
  cursor: pointer;
}

label > input[type="checkbox"] {
  display: none;
}

label > input[type="checkbox"] + span {
  width: 20px;
  height: 20px;
  border: solid 2px rgb(115, 50, 175);
  border-radius: 50px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
}

label > input[type="checkbox"] + span:before {
  content: "\2713";
  font-size: 16px;
  font-weight: bold;
  color: transparent;
  display: block;
  text-align: center;
}

label > input[type="checkbox"]:checked + span:before {
  color: blueviolet;
}

label > input[type="checkbox"] + span + span {
  user-select: none;
}

@media (max-width: 800px) {
  .main-container {
    box-shadow: none;
    width: 450px;
  }

  .title {
    font-size: 28px;
  }

  .title-container {
    text-align: center;
    margin-bottom: 35px;
    display: block;
  }

  .input-task {
    font-size: 16px;
  }

  .undone-button {
    margin-right: 5px;
  }

  .clearall-button {
    padding: 8px 15px;
    font-size: 16px;
  }
  .active-tasks {
    margin-top: 9px;
  }
}

@media (max-width: 500px) {
  .main-container {
    box-shadow: none;
    width: 337px;
  }

  .input-task {
    font-size: 17px;
  }
}

@media (max-width: 290px) {
  .main-container {
    box-shadow: none;
    width: 282px;
  }
}
