* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #1b1c22;
  --grey: #25262c;
  --greymid: #33353d;
  --greyless: rgba(241, 241, 241, 0.911);
  --white: #fff;
  --whiteless: rgb(240, 239, 239);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--whiteless);
  --text-color: var(--black);
  --font-weight: 400;
  --div-background: var(--white);
  --div-background-task: var(--greyless);
}

body.dark {
  --background-color: var(--black);
  --text-color: var(--whiteless);
  --font-weight: 480;
  --div-background: var(--grey);
  --div-background-task: var(--greymid);
}

.task {
  background-color: var(--div-background-task);
}

.task-text {
  color: var(--text-color);
}

.only-task-text {
  color: var(--text-color);
  transition: 300ms;
}

.modal-container {
  background-color: var(--div-background);
  color: var(--text-color);
}

.main-container {
  background-color: var(--div-background);
  transition: 30ms;
}

.description-container {
  background-color: var(--div-background-task);
}

textarea {
  color: var(--text-color);
}

@media (max-width: 800px) {
  body.dark {
    --background-color: var(--grey);
  }

  body.light {
    background-color: var(--white);
  }
}
